<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/cliente-qrcode']"></ion-back-button>
    </ion-buttons>
    <ion-title class="titles-toolbar">Nome</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card class="padrao-card">
    <ion-card-header>
      <ion-card-title class="padrao-title">Informe o seu Nome</ion-card-title>
    </ion-card-header>
    <ion-card-content class="padrao-text-justify">
      Você está logado na <b>Mesa {{infoListagem.qrCodeMesa}}</b>, por favor insira seu nome e continue:
    </ion-card-content>
    <form [formGroup]="cadastroForm" (ngSubmit)="cadastrarCliente()" novalidate>
      <ion-grid>
        <ion-row class="padrao-grid-row">
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating">Nome</ion-label>
              <ion-input formControlName="nomeCliente" type="text" class="padrao-grid-text-field">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-label *ngIf="errorNomeCliente" class="error"> {{messageNomeCliente}}</ion-label>
        <ion-row class="padrao-grid-row-p-top">
          <ion-col class="formatacao-padrao-button-texto-card-login">
            <ion-button color="secondary" class="button-padrao-tamanho" (click)="continuarNome()">
              <ion-icon name="md-log-in" class="espacamento-icon-button"></ion-icon> Continuar
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="padrao-grid-row">
          <ion-col class="formatacao-padrao-button-texto-card-login">
            <ion-button color="medium" class="button-padrao-tamanho" (click)="continuarNome()">
              <ion-icon name="logo-facebook" class="espacamento-icon-button"></ion-icon> Acessar com o Facebook
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>

</ion-content>