<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titles-toolbar">QR Code</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='acaoToast("excluído(s)")'>
        <ion-icon name="md-trash" class="padrao-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="9.7" class="searchbar-input-espacamento">
        <ion-input class="searchbar-input" placeholder="Pesquisar..." clearInput></ion-input>
      </ion-col>
      <ion-col>
        <ion-button color="secondary">
          <ion-icon class="padrao-icon" name="md-search"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="padrao-list" lines="full">
          <ion-item>
            <ion-thumbnail slot="start">
              <img style="border-radius: 30%;" src="../../assets/padrao-qrcode.png">
            </ion-thumbnail>
            <div>
              <ion-label>Mesa 2</ion-label>
            </div>
            <ion-icon slot="end" name="md-alert" class="padrao-icon" color="danger"></ion-icon>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img style="border-radius: 30%;" src="../../assets/padrao-qrcode.png">
            </ion-thumbnail>
            <div>
              <ion-label>Mesa 4</ion-label>
            </div>
            <ion-icon slot="end" name="md-checkmark-circle" class="padrao-icon" color="success"></ion-icon>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>

  <ion-toolbar position="bottom">
    <div class="formatacao-padrao-button-texto">
      <ion-button color="secondary" class="button-padrao-tamanho" [routerLink]="['/empresa-tela-edita-qrcode']">
        <ion-icon name="md-add-circle" class="espacamento-icon-button"></ion-icon> CADASTRAR QR CODE
      </ion-button>
    </div>
    <div class="formatacao-padrao-button-texto">
      <ion-button color="secondary" class="button-padrao-tamanho" (click)='acaoToast("impresso(s)")'>
        <ion-icon name="md-print" class="espacamento-icon-button"></ion-icon> IMPRIMIR SELECIONADOS
      </ion-button>
    </div>
  </ion-toolbar>

</ion-footer>