<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titles-toolbar">QR Code</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!podeExcluirQRCode" (click)='excluirQRCode()'>
        <ion-icon name="md-trash" class="padrao-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="searchbar-input-espacamento">
        <ion-searchbar placeholder="Pesquisar..." [(ngModel)]="terms"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="padrao-list">
          <div *ngFor="let qrcode of qrcodes | buscaQRCode: terms">
            <ion-item *ngIf="qrcode.empresa == empresa">
              <ion-thumbnail slot="start">
                <img style="border-radius: 30%;" src="../../assets/padrao-qrcode.png">
              </ion-thumbnail>
              <div>
                <ion-label>Mesa {{ qrcode.mesa }}</ion-label>
              </div>
              <ion-icon *ngIf="qrcode.status == 0" slot="end" name="md-checkmark-circle" class="padrao-icon" color="success"></ion-icon>
              <ion-icon *ngIf="qrcode.status == 1" slot="end" name="md-alert" class="padrao-icon" color="danger"></ion-icon>
              <ion-checkbox [(ngModel)]="qrcode.checked" slot="end"></ion-checkbox>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>

  <ion-toolbar position="bottom">
    <div class="formatacao-padrao-button-texto">
      <ion-button color="secondary" class="button-padrao-tamanho" (click)="cadastrarQRCode()">
        <ion-icon name="md-add-circle" class="espacamento-icon-button"></ion-icon> CADASTRAR QR CODE
      </ion-button>
    </div>
    <div class="formatacao-padrao-button-texto">
      <ion-button [disabled]="!podeGerarQRCode" color="secondary" class="button-padrao-tamanho" (click)="imprimirQRCode()">
        <ion-icon name="md-print" class="espacamento-icon-button"></ion-icon> IMPRIMIR SELECIONADOS
      </ion-button>
    </div>
  </ion-toolbar>

</ion-footer>