<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/empresa-tela-sabores']"></ion-back-button>
    </ion-buttons>
    <ion-title class="titles-toolbar">Cadastro de Sabores</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="escondeTipoCadastrar">
        <ion-icon name="md-trash" class="padrao-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <form [formGroup]="cadastroForm" (ngSubmit)="cadastrarSabor()" novalidate>
    <ion-card>
      <ion-grid>
        <ion-row class="padrao-grid-row">
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating" class="padrao-grid-label">Nome:</ion-label>
              <ion-input formControlName="Nome" type="text" class="padrao-grid-text-field" clearInput clearOnEdit="false"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-label *ngIf="errorNome" class="error"> {{messageNome}}</ion-label>
        <ion-row class="padrao-grid-row">
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating" class="padrao-grid-label">Ingredientes:</ion-label>
              <ion-input formControlName="Ingredientes" type="text" class="padrao-grid-text-field" clearInput clearOnEdit="false"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="padrao-grid-row">
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating" class="padrao-grid-label">Tipo:</ion-label>
              <ion-select formControlName="Categoria" class="padrao-grid-combobox-maior" placeholder="" clearOnEdit="false">
                <ion-select-option value="1" selected>Salgada</ion-select-option>
                <ion-select-option value="2" selected>Doce</ion-select-option>
                <ion-select-option value="3" selected>Vegetariana</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-label *ngIf="errorCategoria" class="error"> {{messageCategoria}}</ion-label>
        <ion-row class="formatacao-padrao-big-button">
          <ion-col>
            <ion-button color="secondary" class="normal-button">
              <ion-icon class="padrao-icon" name="md-camera"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="padrao-grid-row">
          <ion-col>
            <div class="formatacao-padrao-button-texto-card-login">
              <ion-button color="secondary" class="button-padrao-tamanho" (click)="cadastrarSabor()">
                <ion-icon name="{{ iconeSalvar }}" class="espacamento-icon-button"></ion-icon> {{ infoListagem.tipo }}
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>

</ion-content>