<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titles-toolbar">Pedidos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sair()">
        <ion-icon name="md-log-out" class="padrao-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="searchbar-input-espacamento">
        <ion-searchbar placeholder="Pesquisar..." [(ngModel)]="terms"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="padrao-list">
          <div *ngFor="let pedido of pedidos | buscaSabor: terms">
            <ion-item *ngIf="pedido.empresa == empresa && pedido.status == 1">
              <ion-thumbnail slot="start">
                <img style="border-radius: 50%;" *ngIf="pedido.sabor != 'Chamada do Garçom'"
                  src="../../assets/padrao-pizza-salgada.jpg">
                <img style="border-radius: 50%;" *ngIf="pedido.sabor == 'Chamada do Garçom'" src="../../assets/padrao-garcom.jpg">
              </ion-thumbnail>
              <div>
                <ion-label><b>Mesa:</b> {{ pedido.mesa }}</ion-label>
                <ion-label *ngIf="pedido.sabor != 'Chamada do Garçom'"><b>Sabor:</b> {{ pedido.sabor }}</ion-label>
                <ion-label *ngIf="pedido.sabor == 'Chamada do Garçom'"><b> {{ pedido.sabor }} </b></ion-label>
                <ion-label><b>Cliente:</b> {{ pedido.cliente }}</ion-label>
              </div>
              <ion-checkbox [(ngModel)]="pedido.checked" slot="end"></ion-checkbox>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>

  <ion-toolbar position="bottom">
    <div class="formatacao-padrao-button-texto">
      <ion-button [disabled]="!podeFinalizarPedido" color="secondary" class="button-padrao-tamanho" (click)="finalizarPedido()">
        <ion-icon name="md-checkmark-circle" class="espacamento-icon-button"></ion-icon> FINALIZAR ATENDIMENTO
      </ion-button>
    </div>
  </ion-toolbar>

</ion-footer>