<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/empresa-tela-qrcode']"></ion-back-button>
    </ion-buttons>
    <ion-title class="titles-toolbar">Cadastro de QR Code</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <form [formGroup]="cadastroForm" (ngSubmit)="cadastrarQRCode()" novalidate>
    <ion-card>
      <ion-grid>
        <ion-row class="padrao-grid-row">
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating" class="padrao-grid-label">Mesa:</ion-label>
              <ion-input formControlName="Mesa" type="number" class="padrao-grid-text-field" clearInput clearOnEdit="false"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-label *ngIf="errorMesa" class="error"> {{messageMesa}}</ion-label>
        <ion-row class="padrao-grid-row">
          <ion-col>
            <div class="formatacao-padrao-button-texto-card-login">
              <ion-button color="secondary" class="button-padrao-tamanho" (click)="cadastrarQRCode()">
                <ion-icon name="md-add-circle" class="espacamento-icon-button"></ion-icon> CADASTRAR
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>

</ion-content>