<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/empresa-tela-qrcode']"></ion-back-button>
    </ion-buttons>
    <ion-title class="titles-toolbar">Cadastro de QR Code</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>
    <ion-grid>
      <ion-row class="padrao-grid-row">
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating" class="padrao-grid-label">Mesa:</ion-label>
            <ion-input type="text" class="padrao-grid-text-field"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="padrao-grid-row">
        <ion-col>
          <div class="formatacao-padrao-button-texto-card-login">
            <ion-button color="secondary" class="button-padrao-tamanho" (click)="acaoToast()">
              <ion-icon name="md-add-circle" class="espacamento-icon-button"></ion-icon> CADASTRAR
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>