// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #F75705;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #F79A05;
  --ion-color-primary-tint: #EDAB05;

  /** secondary **/
  --ion-color-secondary: #e8850c;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #eb9d28;
  --ion-color-secondary-tint: #eaa824;

  /** tertiary **/
  --ion-color-tertiary: rgb(248, 103, 31);
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  //----------------TOOLBAR----------------------

  .titles-toolbar {
    text-align: left; 
    font-size: 20px;
    font-family: 'Trebuchet MS';
    color: white;
    border: black;
  }

  .titles-toolbar-menu {
    text-align: left; 
    font-size: 20px;
    padding-bottom: 5px;
    font-family: 'Trebuchet MS';
    color: white;
    border: black;
  }

  .titles-toolbar-menor {
    text-align: left; 
    font-size: 18px;
    font-family: 'Trebuchet MS';
    color: white;
    border: black;
  }

  //---------------ICON-----------------------

  .padrao-icon {
    font-size: 20px;
  }

  .padrao-icon-back {
    font-size: 23px;
    padding: 0px 5px 0px 10px;
  }

  .big-icon {
    font-size: 40px;
  }

  //---------------GRID-------------------------

  .padrao-grid-row{
    padding: 5px 5px 15px 5px;
  }

  .padrao-grid-row-p-right{
    padding: 5px 18px 5px 17px;
  }

  .padrao-grid-row-p-off-bottom{
    padding: 5px 18px 0px 17px;
  }

  .padrao-grid-row-p-top{
    padding: 15px 5px 5px 5px;
  }

  .padrao-grid-label{
    font-size: 14px; 
    font-weight: bold; 
    color: black
  }

  .padrao-grid-label-combobox{
    font-size: 14px; 
    font-weight: bold; 
    padding-left: 15px;
    padding-top: 15px;
    color: black
  }

  .padrao-grid-label-no-bold{
    font-size: 14px; 
    color: black
  }

  .padrao-grid-text-field{
    font-size: 13px; 
    color: gray;
  }
  
  .p-g-t-f-alinhamento {
    text-align: end;
  }

  .padrao-grid-combobox{
    padding-top: 32px;
  }

  .padrao-grid-combobox-maior{
    padding-top: 20px;
    font-size: 14px; 
    color: black
  }

//---------------BUTTON-----------------------

  .formatacao-padrao-button-texto {
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    text-align: center;
  }

  .button-padrao-tamanho {
    width: 280px;
  }

  .espacamento-icon-button{
    padding-right: 5px;
  }

  .espacamento-icon-button2{
    padding-left: 5px;
  }

  .normal-button {
    width: 50px;
    height: 50px;
    --border-radius: 50%;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
  }

  .big-button {
    width: 100px;
    height: 100px;
    --border-radius: 50%;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
  }

  .formatacao-padrao-big-button {
    justify-content: center;
    align-items: center;
    padding: 10px 5px 5px 5px;
    text-align: center;
  }

//---------------TEXT-----------------------

  .padrao-text-justify{
    font-size: 15px;
    text-align:justify;
    color: rgb(39, 37, 37);
  }

  .padrao-title{
    font-size: 18px;
    font-family: 'Trebuchet MS';
    color: black;
  }

  .padrao-text-field{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: rgb(39, 37, 37);
  }

  .padrao-subtitle {
    padding-top: 5px;
    padding-left: 35px;
    font-size: 13px;  
    font-family: 'Trebuchet MS';
  }

  .label-right{
    font-size: 15px;
    padding: 10px 0px 0px 0px;
    color: black;
    justify-content: end;
    align-items: end;
    text-align: end;
  }

  .searchbar-input {
    font-size: 15px;
    border: solid 2px #F75705;
    border-radius: 10px;
    background: white;
    justify-content: left;
    align-items: left;
    text-align: left;
    //width: 342px;
  }

  .searchbar-input-espacamento {
      padding-top: 7px;
  }

//---------------CARD-------------------------

  .titles-card {
    text-align: left; 
    font-size: 16px;
    font-family: 'Trebuchet MS';
    border: black;
    color: white;
    font-weight: bold; 
  }

  .formatacao-padrao-button-texto-card {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0px 0px 0px;
  }

  .padrao-card{
    border-radius: 10px;
  }

  .formatacao-padrao-button-texto-card-login{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 0px 0px 0px;
  }

  .formatacao-padrao-button-texto-card-login-top{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 0px 0px 0px;
  }

//---------------ALERT--------------------------

  .padrao-toast{
    font-size: 15px; 
    text-align: center;
  }

  ion-alert{
    --width: 450px !important;
    --background: white !important;
    
    .alert-head {
      background: #F75705 !important;
      --ion-text-color: white !important;

      .alert-title {
        font-size: 17px;
      }
    }

    .alert-label {
      font-size: 15px;
    }
  }

//---------------BADGE--------------------------

  .padrao-badge{
    border-radius: 0px 8px 0px 8px;
    font-size: 11px;
    padding-left: 5px;
  }

}
