<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/tela-inicial']"></ion-back-button>
    </ion-buttons>
    <ion-title class="titles-toolbar">Login</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="formatacao-padrao-button-texto-card-login">
    <ion-grid>
      <ion-row class="padrao-grid-row">
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">
              <ion-icon name="md-contact"></ion-icon> Usuário
            </ion-label>
            <ion-input type="text" class="padrao-grid-text-field"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="padrao-grid-row">
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">
              <ion-icon name="md-lock"></ion-icon> Senha
            </ion-label>
            <ion-input [type]="tipoSenha" class="padrao-grid-text-field"></ion-input>
            <ion-button (click)="mostrarSenha()" slot="end"><ion-icon name="md-eye"></ion-icon></ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="padrao-grid-row">
        <ion-col class="label-right">
          <ion-label>Lembrar-me</ion-label>
        </ion-col>
        <ion-toggle></ion-toggle>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="secondary" class="button-padrao-tamanho" [routerLink]="['/empresa-tela-principal']">
            <ion-icon name="md-log-in" class="espacamento-icon-button"></ion-icon> ENTRAR
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="secondary" class="button-padrao-tamanho" [routerLink]="['/empresa-cadastro']">
            <ion-icon name="md-add-circle" class="espacamento-icon-button"></ion-icon> REGISTRAR-SE
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>