<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titles-toolbar">Sabores</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="searchbar-input-espacamento">
        <ion-searchbar placeholder="Pesquisar..." [(ngModel)]="terms"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="padrao-list">
          <div *ngFor="let sabor of sabores | buscaSaborSabores: terms">
            <ion-item detail *ngIf="sabor.empresa == empresa" (click)="editarSabor(sabor)">
              <ion-thumbnail slot="start">
                <img style="border-radius: 50%;" src="../../assets/padrao-pizza-salgada.jpg">
              </ion-thumbnail>
              <div>
                <ion-label>{{ sabor.nome }}</ion-label>
                <ion-label>{{ sabor.ingredientes }}</ion-label>
              </div>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>

  <ion-toolbar position="bottom">
    <div class="formatacao-padrao-button-texto">
      <ion-button color="secondary" class="button-padrao-tamanho" (click)="cadastrarSabor()">
        <ion-icon name="md-add-circle" class="espacamento-icon-button"></ion-icon> CADASTRAR SABOR
      </ion-button>
    </div>
  </ion-toolbar>

</ion-footer>