<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titles-toolbar">Sugestões</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="searchbar-input-espacamento">
        <ion-searchbar placeholder="Pesquisar..." [(ngModel)]="terms"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="padrao-list" lines="full">
          <div *ngFor="let sugestao of sugestoes | buscaSugestao: terms">
            <ion-item *ngIf="sugestao.empresa == empresa && sugestao.status == 1">
              <ion-label><b>Opinião: </b> {{ sugestao.info }}</ion-label>
              <ion-checkbox [(ngModel)]="sugestao.checked" slot="end"></ion-checkbox>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>

  <ion-toolbar position="bottom">
    <div class="formatacao-padrao-button-texto">
      <ion-button [disabled]="!podeFinalizarSugestao" color="secondary" class="button-padrao-tamanho" (click)="finalizarSugestao()">
        <ion-icon name="md-checkmark-circle" class="espacamento-icon-button"></ion-icon> RESOLVER
      </ion-button>
    </div>
  </ion-toolbar>

</ion-footer>